<head>
  <link rel="stylesheet" href="employee-new.component.css">
  <title>New employee</title>
</head>
<h1>Mitarbeiter:</h1>
<hr>
<div id="employeeDetailDiv">
  <mat-form-field class="entry" appearance="outline">
    <mat-label>Nachname</mat-label>
    <input type="password" matInput [(ngModel)]="matFormLast" name="pass">
  </mat-form-field>
  <br>
  <mat-form-field class="entry" appearance="outline">
    <mat-label>Vorname</mat-label>
    <input  type="password" matInput [(ngModel)]="matFormFirst" name="pass">
  </mat-form-field>
  <br>
  <mat-form-field class="entry" appearance="outline">
    <mat-label>Straße</mat-label>
    <input type="password" matInput [(ngModel)]="matFormStreet" name="pass">
  </mat-form-field>
  <br>
  <mat-form-field class="entry" appearance="outline">
    <mat-label>Postleitzahl</mat-label>
    <input  type="password" matInput [(ngModel)]="matFormPost" name="pass">
  </mat-form-field>
  <br>
  <mat-form-field class="entry" appearance="outline">
    <mat-label>Stadt</mat-label>
    <input  type="password" matInput [(ngModel)]="matFormCity" name="pass">
  </mat-form-field>
  <br>
  <mat-form-field class="entry" appearance="outline">
    <mat-label>Telefon</mat-label>
    <input  type="password" matInput [(ngModel)]="matFormPhone" name="pass">
  </mat-form-field>
  <br>
  <div class="container">
    <div class="vertical-center-left">
      <button mat-button type="button" class="button1 button" (click)="saveClicked()">Speichern</button>
    </div>
  </div>
</div>
