<div class="divLogin">

  <h2>Bitte geben Sie Ihren Benutzernamen und Ihr Passwort ein.</h2>
  <form (submit)="$event.preventDefault()">
    <mat-form-field class="matFormText" appearance="outline">
      <mat-label>Benutzername</mat-label>
      <input type="text" matInput [(ngModel)]="matInputName" name="name" required>
      <mat-error *ngIf="!isNameValid()">Bitte geben Sie etwas ein!</mat-error>
    </mat-form-field>
    <mat-form-field class="matFormPass" appearance="outline">
      <mat-label>Passwort</mat-label>
      <input type="password" matInput [(ngModel)]="matInputPass" name="pass" required>
      <mat-error *ngIf="!isPassValid()">Bitte geben Sie etwas ein!</mat-error>
    </mat-form-field>
    <p id="error">{{error}}</p>
  </form>

  <button type="button" (click)="isUserDataValid()">Login</button>
</div>
