* {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 0 20px;
}

#employeeDetailDiv {
  margin: 16px;
}

h1 {
  font-size: 28px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.entry {
  width: 50%;
  padding: 8px 13px;
}

.button1 {background-color: #65ddee;}
.button2 {background-color: #d3204c;}

.container {
  height: 100px;
  position: relative;
}

.vertical-center-left {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.vertical-center-right {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translateY(-50%);
}
