<div class="employeesDiv">
  <div id="headlineDiv">
    <h2 >Mitarbeiterliste</h2>
    <button style="width: 5px;" id="newButton" mat-button (click)="newButtonPressed()">Neu</button>
  </div>
  <mat-list id="itemList">
    <button mat-list-item id="listItem"
            *ngFor="let listItem of employees" (click)="employeeClick(listItem)"> {{listItem.firstName}} {{listItem.lastName}}</button>
  </mat-list>
</div>
